body {

    background-color : #ecdbdb;

    margin: 0;

    padding: 0;

}

h1 {

    color : #000000;

    text-align : center;

    font-family: "Arial";

}

form {

    width: 300px;

    margin: 0 auto;

    display: -block;

}

div {
    

    width: 300px;

    margin: 40;

}